.referral-box {
  background: #923557;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  /* line-height: 36px; */
  /* identical to box height */

  color: #ffae02;
}
.text-level {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  /* line-height: 30px; */
  /* identical to box height */

  color: #ffae02;
}

.Polygon-icon {
  position: relative;
  left: -12px;
}
.text-history {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  /* line-height: 60px; */
  /* identical to box height */
text-align: center;
  color: #ffae02;
}
