.btn-Connect {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  /* identical to box height */
  color: #ffffff;
  background: #5c3f93;
  border-radius: 5px;
}
.btn-Connect:hover {
  color: #5c3f93;
  background: #ffae02;
}
.nav-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #5c3f93;
}
.nav-link:hover {
  color: #ffae02;
  text-transform: capitalize;
}
